header {
    background-color: #343434;
    height: min-content;
    padding: 25px;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

h2 {
    margin: 0px;
}

.App {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Main {
    min-height: calc(100vh - 432px);
}

.Frame {
    border: 1px solid gray;
    border-radius: 20px;
    max-width: 700px;
    min-width: min-content;
    padding: 15px;
    /* margin: 0px auto; */
    margin: 50px auto;
    font-size: 30px;
    position: relative;
}

input {
    font-size: 30px;
}

input[type="checkbox"] {
    filter: invert(47%) hue-rotate(22deg) brightness(1.7);
    margin: 0px;
    cursor: pointer;
    transform: scale(2);
}

:focus {
    outline: none;
}

input[type="text"] {
    margin: 5px 10px;
    border: none;
}

label {
    margin-left: 20px;
}

footer {
    background-color: #343434;
    color: #008000;
    font-size: 20px;
    font-family: monospace;
    padding: 20px;
    width: 100%;
    position: relative;
    margin-top: 0px;
}

footer>h2 {
    margin-bottom: 20px;
}