.info {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-weight: 500;
}

.rhs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rhs>img {
    margin-bottom: 50px;
    width: 300px;
}

#door {
    filter: invert(20%);
    cursor: pointer;
    width: 200px;
}

@media screen and (max-width: 1000px) {
    .lhs>h1 {
        font-size: 28px;
    }
    p {
        font-size: 17px;
        margin: 7px;
    }
    .rhs>img {
        margin-bottom: 30px;
        width: 150px;
    }
    #door {
        width: 100px;
    }
}

@media screen and (max-width: 600px) {
    .info {
        padding: 20px;
    }
    .lhs>h1 {
        font-size: 18px;
    }
    p {
        font-size: 12px;
        margin: 5px;
    }
    .rhs>img {
        margin-bottom: 20px;
        width: 100px;
    }
    #door {
        width: 50px;
    }
}