header {
    background-color: #343434;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header>img {
    width: 50px;
    filter: invert(100%);
}

header>h2 {
    margin: 0;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    header>img {
        width: 30px;
    }
}