body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    background: url(../img/fon.jpg) repeat;
}

form {
    display: flex;
}

header {
    background-color: #343434;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* height: 80px; */
    text-align: center;
    font-size: 36px;
}

header>img {
    height: 80px;
    margin-left: -18px;
}

.title {
    width: min-content;
}

.searchBlock {
    display: flex;
    justify-content: space-between;
    width: 275px;
    /* margin-right: 10px; */
}

.searchBlock>img {
    width: 28px;
    filter: invert(1);
}

.searchBlock>input {
    width: 225px;
    height: 35px;
    border-radius: 10px;
    font-size: 25px;
}

input:focus {
    outline: none;
}

.container,
.lhs {
    display: flex;
    justify-content: space-between;
}

.container {
    align-items: center;
}

.lhs {
    margin-top: 30px;
    font-size: 40px;
    width: 500px;
}

#weatherCard {
    /* background-color: aqua; */
    width: 900px;
    height: 350px;
    margin: 40px auto;
    padding: 40px;
    color: #fff;
    border-radius: 50px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}

#cityName {
    font-size: 60px;
}

#degrees {
    font-size: 130px;
    text-align: right;
}

#description {
    text-align: right;
    font-size: 40px;
}

@media screen and (max-width: 1000px) {
    header {
        padding: 10px;
        font-size: 18px;
    }
    header>img {
        height: 40px;
        margin-left: -9px;
    }
    .searchBlock {
        width: 130px;
    }
    .searchBlock>img {
        width: 14px;
    }
    .searchBlock>input {
        width: 100px;
        height: 17px;
        border-radius: 5px;
        font-size: 12px;
    }
    .container,
    .lhs {
        display: flex;
        justify-content: space-between;
    }
    .lhs {
        /* margin-top: 20px; */
        margin-top: 10px;
        font-size: 20px;
        width: 250px;
    }
    #weatherCard {
        /* background-color: aqua; */
        /* width: 400px; */
        width: 80%;
        /* height: 130px; */
        height: auto;
        margin: 40px auto;
        padding: 20px;
        color: #fff;
        border-radius: 25px;
    }
    #cityName {
        font-size: 30px;
    }
    #degrees {
        font-size: 70px;
        text-align: right;
    }
    #description {
        text-align: right;
        font-size: 20px;
    }
}